.Pokemo-list-wraper{
    margin: 3rem auto;
display: flex;
flex-direction: column;
align-items: center;
 
}

.pokemon-wraper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   height: 500px;
  
}
.controler button{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    margin-left: 1rem;
    background-color: rgb(226, 236, 236);
    margin-bottom: 10rem;

}